@page "/forgot-password"
@layout MainLayout
<PageTitle>Forgot Password</PageTitle>
<div class="forgot-page">

    <div class="left-panel">

        <div class="brand">
            <img src="images/FinflowLogo.png" alt="FinFlow" />
        </div>

        <div class="left-contents">

            <div class="icon-box">
                <i class="fa-regular fa-envelope"></i>
            </div>

            <h1>
                Reset your password
            </h1>

            <p>
                Enter your email address and we'll
                send you a verification code.
            </p>

        </div>

        <div class="footer">
            © 2026 FinFlow. All rights reserved.
        </div>

    </div>

    <div class="right-panel">

        <div class="forgot-card">

            <h2>Forgot Password</h2>

            <EditForm Model="@forgotModel"
                      OnValidSubmit="HandleForgotPassword">

                <div class="input-groups">

                    <label>Email Address</label>

                    <InputText @bind-Value="forgotModel.Email"
                               class="form-input"
                               placeholder="you@example.com" />

                </div>

                <button type="submit"
                        class="send-btn">
                    Send OTP
                </button>

                <div class="back-login">
                    <a href="/login">
                        ← Back to login
                    </a>
                </div>

            </EditForm>

        </div>

    </div>

</div>
