@using FinFlow.App.CommonComponents
@inherits LayoutComponentBase

<div class="page">
    <main>
    <Dialog />
     <Loader/>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
