.auth-page {
    min-height: 100vh;
    background: #fff;
    padding: 30px 24px;
    display: flex;
    flex-direction: column;
}

.back-btn {
    border: none;
    background: transparent;
    font-size: 28px;
    width: fit-content;
    cursor: pointer;
    padding: 0;
    margin-top: 10px;
}

.title {
    margin-top: 40px;
    font-size: 32px;
    font-weight: 700;
    color: #222;
    font-family: Georgia, serif;
    line-height: 1.2;
}

.subtitle {
    margin-top: 12px;
    color: #6b7280;
    font-size: 16px;
    margin-bottom: 35px;
}

label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #444;
    margin-bottom: 10px;
    margin-top: 22px;
}

.password-container {
    position: relative;
    width: 100%;
}

.text-input {
    width: 100%;
    height: 56px;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    padding: 0 50px 0 16px;
    font-size: 16px;
    outline: none;
    background: white;
}

    .text-input:focus {
        border-color: #007A33;
    }

.eye-btn {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    font-size: 18px;
}



.error {
    color: #DC2626;
    font-size: 13px;
    margin-top: 8px;
}

.primary-btn {
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 10px;
    background: #007A33;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 35px;
    cursor: pointer;
}

    .primary-btn:disabled {
        background: #A7A7A7;
        cursor: not-allowed;
    }

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input::-webkit-credentials-auto-fill-button,
input::-webkit-password-toggle-button {
    display: none !important;
}

.text-input {
    appearance: none;
    -webkit-appearance: none;
}

.strength-bars {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.bar {
    flex: 1;
    height: 4px;
    background: #E5E7EB;
    border-radius: 50px;
    transition: all .3s ease;
}

    /* Weak */
    .bar.weak {
        background: #DC2626;
    }

    /* Fair */
    .bar.fair {
        background: #F59E0B;
    }

    /* Good */
    .bar.good {
        background: #84CC16;
    }

    /* Strong */
    .bar.strong {
        background: #16A34A;
    }

.strength-text {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
}

    .strength-text.weak {
        color: #DC2626;
    }

    .strength-text.fair {
        color: #F59E0B;
    }

    .strength-text.good {
        color: #84CC16;
    }

    .strength-text.strong {
        color: #16A34A;
    }