.otp-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 24px;
    padding-bottom: calc(60px + env(safe-area-inset-bottom));
}
.back-btn {
    border: none;
    background: transparent;
    font-size: 28px;
    margin-top: 10px;
}

.title-vo {
    margin-top: 40px;
    font-size: 36px;
    font-weight: 700;
    font-family: Georgia, serif;
    text-align: center;
    color: #222;
}

.description-vo {
    margin-top: 20px;
    color: #666;
    text-align: center;
    font-size: 15px;
}

.email {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 600;
}

.otp-wrapper {
    position: relative;
    display: flex;
    gap: 10px;
    margin-top: 35px;
}

.hidden-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.otp-box {
    width: 48px;
    height: 48px;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    background: #fff;
    transition: all 0.2s ease;
}

    .otp-box.filled {
        border-color: #007A33;
        background: #F5FBF7;
        color: #007A33;
    }

    .otp-box.active {
        border: 2px solid #007A33;
        background: white;
        transform: scale(1.05);
    }

.resend-text {
    text-align: center;
    margin-top: 60px;
    color: #777;
}

.timer {
    color: #f59e0b;
    font-weight: 700;
}

.secure-text {
    margin-top: auto;
    text-align: center;
    color: #999;
    font-size: 14px;
}
