@page "/forgot-password"
@layout MainLayout

<div class="auth-page-fp">

    <button class="back-btn" @onclick="GoBack">←</button>

    <h1 class="title-fp">Forgot Password?</h1>

    <p class="subtitle-fp">
        Enter your email address and
        we'll help you reset it.
    </p>

    <label>Email Address</label>

    <input class="text-input"
           type="email"
           placeholder="john@example.com" />

    <button class="primary-btn" @onclick="SendOtp">
        Send OTP
    </button>

    <button class="link-btn" @onclick="@(() => _navigationManager.NavigateTo("/"))">
        Back to login
    </button>

</div>
