@page "/"
@layout MainLayout


<div class="login-container">

    <div class="back-btn">
        <span>&larr;</span>
    </div>

    <div class="content">

        <h1 class="title">Welcome back!</h1>
        <p class="subtitle">Login to continue</p>

        <div class="input-group">
            <label>Email Address</label>

            <div class="email-box">
                <input type="email"
                       placeholder="john@example.com" />
            </div>
        </div>

        <button class="otp-btn" @onclick="SendOtp">
            Send OTP
        </button>
        <button class="otp-btn" @onclick="@(() => _navigationManager.NavigateTo("create-password"))">
            Create Password
        </button>
        <button class="otp-btn" @onclick="@(() => _navigationManager.NavigateTo("forgot-password"))">
            Forgot Password
        </button>
        <button class="otp-btn" @onclick="@(() => _navigationManager.NavigateTo("password-changed"))">
            Success Password
        </button>

        <p class="info-text">
            We will send a 6-digit OTP to
            this email address
        </p>

    </div>

    <div class="bottom-text">
        New here?
        <a href="/register">Register now</a>
    </div>

</div>
