@page "/"


<div class="onboarding-container">

    <div class="logo-section">
        <img src="images/finflow-logo.png" alt="FinFlow" class="logo" />
    </div>

    <div class="image-section">
        <img src="images/distributor-logo.png" alt="Distributor Portal" class="main-image" />
    </div>

    <div class="content-section">
        <h1>Distributor Portal</h1>

        <p>
            Manage orders, payments and
            grow your business with FinFlow.
        </p>
    </div>

    <div class="bottom-section">

        <button class="next-btn" @onclick="GoToLogin">
            <i class="fa-solid fa-arrow-right"></i>
        </button>

    </div>

</div>