@page "/password-changed"
@layout MainLayout


<div class="ff-pwdsuccess-shell">

    <div class="ff-pwdsuccess-icon-wrapper">
        ✓
    </div>

    <h1 class="ff-pwdsuccess-heading">
        Password Changed
        Successfully!
    </h1>

    <p class="ff-pwdsuccess-description">
        You can now login with your
        new password.
    </p>

    <button class="ff-pwdsuccess-login-btn"
            @onclick="@(() => _navigationManager.NavigateTo("/login"))">

        Back to Login

    </button>

</div>
