* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: 0;
    background: #f7f4ef;
}

.forgot-page {
    min-height: 100vh;
    display: flex;
    gap: 20px;
    padding: 20px;
    background: #f7f4ef;
}

.left-panel {
    flex: 1;
    background: #f5efe4;
    border-radius: 26px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;
    font-weight: 600;
    color: #111;
}

    .brand img {
        width: 150px;
    }

.left-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-box {
    width: 88px;
    height: 88px;
    border-radius: 24px;
    background: #f7f1e5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    color: #0f7b3f;
    margin-bottom: 35px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.04);
}

.left-content h1 {
    font-size: 54px;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 20px;
    color: #111;
}

.left-content p {
    color: #666;
    line-height: 1.7;
    font-size: 18px;
}

.footer {
    color: #999;
    font-size: 14px;
}

.right-panel {
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-card {
    width: 100%;
    background: white;
    border-radius: 30px;
    padding: 45px;
    box-shadow: 0 12px 40px rgba(0,0,0,0.05);
}

    .forgot-card h2 {
        font-size: 30px;
        margin-bottom: 35px;
        color: #111;
    }

.input-groups {
    margin-bottom: 28px;
}

    .input-groups label {
        display: block;
        margin-bottom: 10px;
        color: #444;
        font-size: 14px;
        font-weight: 500;
    }

.form-input {
    width: 100%;
    height: 56px;
    border-radius: 16px;
    border: 1px solid #e2e2e2;
    padding: 0 18px;
    font-size: 15px;
    background: #fafafa;
    outline: none;
    transition: 0.3s;
}

    .form-input:focus {
        border-color: #0f7b3f;
        background: white;
    }

.send-btn {
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 16px;
    background: #0f7b3f;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

    .send-btn:hover {
        background: #0c6634;
    }

.back-login {
    margin-top: 28px;
    text-align: center;
}

    .back-login a {
        text-decoration: none;
        color: #0f7b3f;
        font-weight: 500;
        font-size: 15px;
    }

@media(max-width: 1100px) {

    .left-panel {
        display: none;
    }

    .right-panel {
        width: 100%;
    }

    .forgot-page {
        justify-content: center;
    }
}
